<div class="container-fluid bg-white p-4 border-solid" id="main-hero" style=
    "background-image: url(<%= asset_path('Wisconsin-State-Capitol-Rotunda-Madison-2.jpg') %>);
     background-size: cover
    ">
     
    <div class="text-center text-white hero-title">
        <h1 class="display-3">Sprocket Security Demo</h1>
        <div class="container hero-subtext rounded "><p class="lead">A WebApp to Demonstrate Ruby on Rails Aptitude for Sprocket Security</p></div>
        <%= link_to "Why I Want to Join Sprocket Security", letter_path, class:"hero-button btn " %>
    </div>
    
</div>

<div class="container-fluid mt-0 p-4" id="demos">
    <div class ="row px-4 m-4" >
        <div class="col-md-6">
            <div class="card">
                <div class="card-body home-container p-5">
                    <h2 class = "card-title"> Public API Demo </h2>
                    <p class="card-text"> 
                        <h5>
                            A demonstration utilizing a basic API. Users can search any location in the world to get up to date weather information. Most geographical
                            subdivisions (cities, states, countries, etc.) are searchable by the user. Information on the weather is presented in the form of heat and 
                            wind statistics. 
                        </h5>
                    </p>
                    <p class="card-text">
                        Weather API was sourced from weatherapi.com under a free trial <%=link_to "link", "https://rubygems.org/gems/devise/versions/4.9.4?locale=en" %>
                    </p>
                    
                </div>
                <div class="card-footer">
                    <%= link_to "View API Demonstration", api_path, class:"btn btn-primary auth-button" %>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <%= image_tag("1.png", class:"home-image") %>
        </div>
    </div>
    <div class ="row px-4 m-4" >
        <div class="col-md-6">
            <%= image_tag("3.png", class:"home-image") %>
        </div>
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-body home-container p-5">
                    <h2 class = "card-title">CRUD Database Demo </h2>
                    <p class="card-text"> 
                        <h5>
                            A demonstration of Create, Read, Update, and Destroy actions on items in a database in the form of a photo library utilizing ActiveStorage
                            and ActiveRecords. Users can create new photos from images of their choosing and provide an attached name and description. Allows updating 
                            of name, image, and description of any photo. Users are also able to view any photo on a greater scale and able to delete any photo 
                            of their choosing.
                        </h5>
                    </p>
                    <p class="card-text">
                            This demo is not connected to Auth. Any actions can be performed by anyone whether they are logged in or not. No photos are saved on a 
                            user by user basis.
                    </p>
                    
                </div>
                <div class="card-footer">
                    <%= link_to "View CRUD Demonstration", photos_path, class:"btn btn-primary auth-button" %>
                </div>
            </div>
        </div>
    </div>
    <div class ="row px-4 m-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body home-container p-5">
                    <h2 class = "card-title"> Auth Demo </h2>
                    <p class="card-text"> 
                        <h5>
                            A demonstration of Auth actions including but not limited to: sign-in, sign-out, sign-up, and password reset. This demonstration also includes
                            editing aspects of the user profile including a Biography. 
                        </h5>
                    </p>
                    <p class="card-text">
                        Auth implementation utilizes the Devise gem: <%=link_to "link", "https://rubygems.org/gems/devise/versions/4.9.3?locale=en" %>
                    </p>
                </div>
                <div class="card-footer">
                    <%= link_to "View Auth Demonstration", edit_user_registration_path, class:"btn btn-primary auth-button" %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <%= image_tag("2.png", class:"home-image") %>
        </div>
    </div>
</div>
